.scene {
  min-height: 50vh;
}

.card-container {
  margin-left: 1rem;
  margin-right: 1rem;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.divider {
  height: 2rem;
}
